h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	font-size: 9pt;
	text-align: left;
}

body {
	vertical-align: middle;
	text-align: center;
	font-family: sans-serif;
	display: flex;
}

li {
}

li a, li a:visited {
	background-color: black;
	color: white;
	padding: .4em;
	text-decoration: none;
}

@media screen and (orientation:portrait) {
	body {
		flex-direction: column;
	}

	li {
		display: inline-block;
		margin-right: 1em;
	}

	.panel {
		flex-direction: row;
		align-items: center;
	}

	.panel.male {
		align-items: flex-end;
	}

}

@media screen and (orientation:landscape) {
	body {
	}

	li {
		margin-bottom: 1em;
	}

	.panel {
		flex-direction: column;
	}

	.panel.male {
		text-align: right;
	}

	.panel.female {
		text-align: left;
	}
}

.panel {
	justify-content: center;
	display: flex;
	flex: 1 1;
	background-color: #dee3e7;
	padding: 1em;
	border: 1px solid grey;
	margin: 1em;
}

.panel:hover {
	background-color: beige;
	cursor: pointer;
}

x-dice {
	display: block;
	font-size: 6em;
	flex: 0 0;
}

ul {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
